<body>
<nav class="navbar navbar-expand-xlg navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" routerLink="#">
      <img src="https://www.newshore.es/media/1411/newshore-by_flyr-logo.svg"  alt="newShore" height="50">
    </a>
    
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
  </div>
</nav>

<div class=" col-xs-12  col-sm-12">
  
  
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="menu">
      <ul>
       
        <li class="list-group-item menu">
          <a class="text-light" routerLink="/problems/problem4"> Problem Solution</a>
        </li>
      
      </ul>
    </div>
  </div>
</div>
</body>